<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Meta données -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Préconnexion vers Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Lien vers les fonts Indie Flower & Nanum Myeongjo -->
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nanum+Myeongjo&display=swap"
      rel="stylesheet"
    />
    <!-- Fichiers CSS -->
    <link rel="stylesheet" href="../styles/style-generale.css" />
    <link rel="stylesheet" href="../styles/style-equipe.css" />
    <!-- Media Query pour les écrans de petite taille -->
    <link rel="stylesheet" media="only screen and (max-width:500px)" href="../styles/style-mobile.css" />
    <!-- Script FontAwesome -->
    <script
      src="https://kit.fontawesome.com/031a9e5271.js"
      crossorigin="anonymous"
    ></script>
    <!-- Titre du document -->
    <title>Lendor | Notre Équipe</title>
  </head>
  <body>
    <!-- Section Header -->
    <header>
      <div id="entete">
        <nav id="navigation">
            <div id="logo"><a href="../index.html"><i class='fas fa-crown'></i>Lendor</a></div>
            <ul id="liens">
                <li><a href="../index.html"> Accueil</a></li>
                <li><a href="./offre.html"> Nos offres</a></li>
                <li class="active"><a href="#"> Notre équipe</a></li>
                <li><a href="./contact.html"> Contact</a></li>
              </ul>
              <div class="menu-button" onclick="menu();"><i class="fas fa-bars"></i></div>
          </nav>
      </div>
  </header>
    

    <!-- Section 1: Introduction -->
    <section class="section">
      <div class="div-section">
        <div class="center-text">
          <h1>
            Nos
            <span class="get-logo-color"> Professionnels </span> Expérimentés
          </h1>
          <p>
            Bienvenue chez <span class="get-logo-color">Lendor</span> ! Notre
            équipe de professionnels expérimentés est là pour vous accompagner à
            chaque étape d'un processus.
          </p>
        </div>
      </div>
    </section>

    <!-- Section 2: Présentation de l'équipe -->
    <section class="text">
      <div class="div-text"> 
        <p>
          Chez <span class="get-logo-color">Lendor</span>, nous sommes fiers 
          de notre équipe de professionnels expérimentés qui sont dévoués à 
          fournir un service exceptionnel à nos clients. Avec des années 
          d'expérience dans le secteur immobilier, nos experts possèdent 
          une connaissance approfondie du marché et sont prêts à vous 
          accompagner à chaque étape de votre projet immobilier.
        </p>
      </div>
    </section>

    <!-- Section 3: Les agents immobiliers -->
    <section class="section-1 style-grid">   
      <p class="acquisition">Les agents immobiliers sont des 
        experts dans la vente et la location de biens. 
        Ils conseillent les clients, 
        organisent les visites et négocient les offres.
      </p>
      <div class="div-section-1">
        <div class="image image1-div-section-2">
          <img
            src="../images/equipe2.jpg"
            alt="Image de nos stratèges en marketing"
          />
          <h3>Nos stratèges en marketing, mettant en
             valeur vos propriétés pour des ventes rapides.
          </h3>
        </div>

        <div class="image image1-div-section-2">
          <img
            src="../images/equipe3.jpg"
            alt="Image de nos spécialistes en location"
          />
          <h3>Spécialistes en location, nous trouvons
             rapidement le bien idéal pour chaque locataire.
          </h3>
        </div>

        <div class="image image2-div-section-1">
          <img
          src="../images/equipe4.jpg"
          alt="Image de notre équipe de service client"
          />
          <h3>Toujours à votre écoute, notre équipe 
            de service client s'assure de votre satisfaction.
          </h3>
        </div>

        <div class="image image2-div-section-1">
          <img
          src="../images/equipe5.jpg"
          alt="Image de nos experts en négociation"
          />
          <h3>Nos experts en négociation, garantissant
             les meilleures offres et conditions pour vous.
          </h3>
        </div>
      </div>
    </section>

    <!-- Section 4: Description supplémentaire -->
    <section class="text">
      <div class="div-text">
        <p>
          Notre équipe se compose d'agents immobiliers qualifiés, de
          conseillers financiers compétents, et de gestionnaires de propriété
          expérimentés. Chacun d'entre eux apporte une expertise unique et une
          compréhension approfondie des tendances locales et nationales du
          marché immobilier.
        </p>
      </div>
    </section>

    <!-- Section 5: Conseillers financiers -->
    <section class="section-1">
      <p class="acquisition">Les conseillers financiers aident les
         clients à obtenir des prêts hypothécaires et à planifier leur 
         budget pour l'achat ou la vente de biens immobiliers.
      </p>
      <div class="div-section-1">
        <div class="image image1-div-section-2">
          <img
            src="../images/equipe6.jpg"
            alt="Image de nos professionnels de la gestion immobilière"
          />
          <h3>Professionnels de la gestion immobilière,
             veillant sur vos investissements avec soin.
          </h3>
        </div>

        <div class="image image1-div-section-2">
          <img
            src="../images/equipe7.jpg"
            alt="Image de nos spécialistes en immobilier résidentiel"
          />
          <h3>Spécialistes en immobilier résidentiel, 
            trouvant des maisons adaptées à chaque famille.
          </h3>
        </div>

        <div class="image image2-div-section-1">
          <img
          src="../images/equipe8.jpg"
          alt="Image de nos conseillers en investissement"
          />
          <h3>Conseillers en investissement, optimisant 
            vos placements pour un maximum de rendement.
          </h3>
        </div>

        <div class="image image2-div-section-1">
          <img
          src="../images/equipe9.jpg"
          alt="Image de notre équipe technique"
          />
          <h3>Notre équipe technique, assurant des solutions 
            rapides et efficaces pour tous vos besoins.
          </h3>
        </div>
      </div>
    </section>

    <!-- Section 6: Description supplémentaire -->
    <section class="text">
      <div class="div-text">        
        <p>
          Que vous cherchiez à acheter, vendre, louer ou investir, nos
          professionnels sont à votre disposition pour vous offrir des
          conseils personnalisés et des solutions adaptées à vos besoins
          spécifiques. Leur engagement à l'excellence et leur passion pour
          l'immobilier se traduisent par des résultats concrets et une
          satisfaction client inégalée.
        </p>
      </div>
    </section>

    <!-- Section 7: Évaluateurs immobiliers -->
    <section class="section-1">
      <p class="acquisition">Les évaluateurs immobiliers déterminent 
        la valeur des propriétés en se basant sur divers facteurs,
        tels que l'emplacement,
        l'état du bien et les tendances du marché.
      </p>
      <div class="div-section-1">
        <div class="image image1-div-section-2">
          <img
          src="../images/equipe10.jpg"
          alt="Image de nos analystes de marché"
          />
          <h3>Analystes de marché, fournissant des insights
             précieux pour des décisions éclairées.
          </h3>
        </div>

        <div class="image image1-div-section-2">
          <img
          src="../images/equipe11.jpg"
          alt="Image de nos experts en immobilier commercial"
          />
          <h3>Experts en immobilier commercial, offrant 
            des solutions adaptées aux entreprises.
          </h3>
        </div>

        <div class="image image2-div-section-1">
          <img
          src="../images/equipe12.jpg"
          alt="Image de nos présentateurs dynamiques"
          />
          <h3>Nos présentateurs dynamiques, vous faisant
             découvrir les meilleurs biens du marché.
          </h3>
        </div>

        <div class="image image2-div-section-1">
          <img
          src="../images/equipe13.jpg"
          alt="Image de nos experts en immobilier de luxe"
          />
          <h3>Experts en immobilier de luxe, trouvant des 
            résidences prestigieuses pour une clientèle exigeante.
          </h3>
        </div>
      </div>
    </section>

    <!-- Section 8: Conclusion -->
    <section class="text">
      <div class="div-text">        
        <p>
          Faites confiance à notre équipe pour vous guider avec assurance et
          expertise dans toutes vos transactions immobilières. Chez 
          <span class="get-logo-color">Lendor</span> votre réussite est notre priorité.
        </p>
      </div>
    </section>

    <!-- Section 9: Remerciements -->
    <section class="text">
      <div class="div-text">        
        <p>
         Merci pour votre intérêt !
        </p>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <h2> © 2024 Jonas Clocin - Tous droits Réservés </h2>
    </footer>
    <script src="../script.js"></script>
  </body>
</html>
