<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Meta-données -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Lien vers Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Lien vers les fonts (Indie Flower & Nanum Myeongjo) -->
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nanum+Myeongjo&display=swap"
      rel="stylesheet"
    />
    <!-- Fichier CSS -->
    <link rel="stylesheet" href="../styles/style-generale.css" />
    <link rel="stylesheet" href="../styles/style-offre.css" />
    <!-- Lien media query -->
    <link rel="stylesheet" media="only screen and (max-width:500px)" href="" />
    <!-- Script FontAwesome -->
    <script
      src="https://kit.fontawesome.com/031a9e5271.js"
      crossorigin="anonymous"
    ></script>
    <!-- Document title -->
    <title>Lendor | Nos Offres</title>
  </head>
  <body>

    <header>
      <div id="entete">
        <nav id="navigation">
            <div id="logo"><a href="./index.html"><i class='fas fa-crown'></i>Lendor</a></div>
            <ul id="liens">
                <li><a href="../index.html"> Accueil</a></li>
                <li class="active"><a href="#"> Nos offres</a></li>
                <li><a href="./equipe.html"> Notre équipe</a></li>
                <li><a href="./contact.html"> Contact</a></li>
              </ul>
              <div class="menu-button" onclick="menu();"><i class="fas fa-bars"></i></div>
          </nav>
      </div>
  </header>

    <section class="section">
      <div class="div-section">
        <div class="center-text">
          <h1>Découvrez nos offres <span class="get-logo-color"> immobilière </span> exclusives</h1>
          <p>
            Chez <span class="get-logo-color">Lendor</span>, nous comprenons que la
            recherche d'un nouveau foyer peut être un processus stressant. C'est
            pourquoi nous nous engageons à rendre cette expérience aussi agréable et
            fluide que possible. Avec notre vaste connaissance du marché local et
            notre approche personnalisée, nous sommes convaincus que nous pouvons
            trouver la propriété qui correspond parfaitement à vos besoins.
          </p>
        </div>
      </div>
    </section>

    <section class="text">
      <div class="div-text">
        <p>
          Que vous cherchiez à acheter, vendre, louer ou investir, nos
          professionnels sont à votre disposition pour vous offrir des
          conseils personnalisés et des solutions adaptées à vos besoins
          spécifiques. Leur engagement à l'excellence et leur passion pour
          l'immobilier se traduisent par des résultats concrets et une
          satisfaction client inégalée.
        </p>
      </div>
    </section>

    <section class="section-1">
      <p class="acquisition"> Un aperçu de quelques chambres</p>
      <div class="div-section-1">
        <div class="image image1-div-section-2">
          <img
            src="../images/chambre1.jpg"
            alt=""
          />
          <h3>Appartement - Lyon 69001</h3>
          <h3>11 chambres 450 m²</h3>
          <div class="ligne"></div>
          <h3>€2 500 000 - $2 700 000</h3>
        </div>
        <div class="image image1-div-section-2">
          <img
          src="../images/chambre2.jpg"
          alt=""
          />
          <h3>Appartement - Marseille 13001</h3>
          <h3>10 chambres 400 m²</h3>
          <div class="ligne"></div>
          <h3>€3 000 000 - $3 200 000</h3>
        </div>
        <div class="image image2-div-section-1">
          <img
          src="../images/chambre3.jpg"
          alt=""
          />
          <h3>Appartement - Nice 06000</h3>
          <h3>9 chambres 350 m²</h3>
          <div class="ligne"></div>
          <h3>€2 800 000 - $3 000 000</h3>
        </div>

        <div class="image image2-div-section-1">
          <img
          src="../images/chambre4.jpg"
          alt=""
          />
          <h3>Appartement - Bordeaux 33000</h3>
          <h3>8 chambres 300 m²</h3>
          <div class="ligne"></div>
          <h3>€2 700 000 - $2 900 000</h3>
        </div>
      </div>
    </section>

    <section class="text">
      <div class="div-text">
        <p>
          Que vous cherchiez à acheter, vendre, louer ou investir, nos
          professionnels sont à votre disposition pour vous offrir des
          conseils personnalisés et des solutions adaptées à vos besoins
          spécifiques. Leur engagement à l'excellence et leur passion pour
          l'immobilier se traduisent par des résultats concrets et une
          satisfaction client inégalée.
        </p>
      </div>
    </section>

    <section class="section-1">
      <p class="acquisition"> Un aperçu de quelques maisons</p>
      <div class="div-section-1">
        <div class="image image1-div-section-2">
          <img
            src="../images/building1.jpg"
            alt=""
          />
          <h3>Maison - Lille 59000</h3>
          <h3>7 chambres 250 m²</h3>
          <div class="ligne"></div>
          <h3>€1 800 000 - $2 000 000</h3>
        </div>
        <div class="image image1-div-section-2">
          <img
          src="../images/building2.jpg"
          alt=""
          />
          <h3>Maison - Toulouse 31000</h3>
          <h3>6 chambres 200 m²</h3>
          <div class="ligne"></div>
          <h3>€1 900 000 - $2 100 000</h3>
        </div>

        <div class="image image2-div-section-1">
          <img
          src="../images/building3.jpg"
          alt=""
          />
          <h3>Maison - Strasbourg 67000</h3>
          <h3>5 chambres 180 m²</h3>
          <div class="ligne"></div>
          <h3>€1 700 000 - $1 900 000</h3>
        </div>

        <div class="image image2-div-section-1">
          <img
          src="../images/building4.jpg"
          alt=""
          />
          <h3>Maison - Nantes 44000</h3>
          <h3>4 chambres 150 m²</h3>
          <div class="ligne"></div>
          <h3>€1 600 000 - $1 800 000</h3>
        </div>
      </div>
    </section>

    <section class="text">
      <div class="div-text">
        <p>
          Que vous cherchiez à acheter, vendre, louer ou investir, nos
          professionnels sont à votre disposition pour vous offrir des
          conseils personnalisés et des solutions adaptées à vos besoins
          spécifiques. Leur engagement à l'excellence et leur passion pour
          l'immobilier se traduisent par des résultats concrets et une
          satisfaction client inégalée.
        </p>
      </div>
    </section>

    <section class="section-1">
      <p class="acquisition"> Un aperçu de quelques chambres</p>
      <div class="div-section-1">
        <div class="image image1-div-section-2">
          <img
            src="../images/chambre5.jpg"
            alt=""
          />
          <h3>Appartement - Montpellier 34000</h3>
          <h3>3 chambres 130 m²</h3>
          <div class="ligne"></div>
          <h3>€1 500 000 - $1 700 000</h3>
        </div>

        <div class="image image1-div-section-2">
          <img
          src="../images/chambre6.jpg"
          alt=""
          />
          <h3>Appartement - Rennes 35000</h3>
          <h3>2 chambres 100 m²</h3>
          <div class="ligne"></div>
          <h3>€1 200 000 - $1 400 000</h3>
        </div>

        <div class="image image2-div-section-1">
          <img
          src="../images/chambre7.jpg"
          alt=""
          />
            <h3>Appartement - Toulon 83000</h3>
            <h3>3 chambres 120 m²</h3>
            <div class="ligne"></div>
            <h3>€1 300 000 - $1 500 000</h3>
          </div>
  
          <div class="image image2-div-section-1">
            <img
            src="../images/chambre8.jpg"
            alt=""
            />
            <h3>Appartement - Grenoble 38000</h3>
            <h3>2 chambres 90 m²</h3>
            <div class="ligne"></div>
            <h3>€1 100 000 - $1 300 000</h3>
          </div>
        </div>
      </section>
  
      <section class="text">
        <div class="div-text">
          <p>
            Merci pour votre intérêt ! Si vous êtes intéressé, vous pouvez nous appeler...!!!
          </p>
        </div>
  
        <div>
          <a href="../templates/contact.html"><button type="submit">Contactez-Nous</button></a>
        </div>
      </section>
      <footer>
        <h2> © 2024 Jonas Clocin - Tous droits Réservés </h2>
      </footer>
    <script src="../script.js"></script>
    </body>
  </html>
  